@charset "UTF-8"
<style>
 body {
  color: black;
}

p {
  text-indent: 1rem;
}

details {
  text-indent: 1rem;
  font-size: 30px;
 }
  summary {
    cursor: pointer;
  font-size: 40px;
  }
</style>